*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html, body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#base{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;

}

#heading h1{
    margin-left: 30px;
    opacity: .8;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;

}


#heding #secondh1{
    margin-left: 230px;
}

.blocktext{
    width: fit-content;
}

.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#smallheading{
    margin-top: 100px;
    padding-right: 50px;
}

#smallheading h5 {
    text-align: right;
    margin-top: .5vw;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: 10px;

} 

#basefooter a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

#basefooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2vw;
    bottom: 3%;
    position: absolute;
    bottom: 0;
}

#basefooter #iconset{
    display: flex;
    gap: 10px;
}
#basefooter .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
}

#second{
    padding-top: 50px;
    color: #fff;
    background-color: black;
    width: 100%;
    height: 120vh;
   
    
}

.element1{
    width: 100%;
    border-top: 1px solid #d6d5d5;
    padding: 2vw 3vw;
    font-size: 3vw;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element2{
    width: 100%;
    border-top: 1px solid #d6d5d5;
    padding: 2vw 3vw;
    font-size: 3vw;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element3{
    width: 100%;
    border-top: 1px solid #d6d5d5;
    padding: 2vw 3vw;
    font-size: 3vw;
    opacity: .7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#elem{
    position: relative;
}

#elem img{
    position: absolute;
    height: 28%;
    z-index: 999;
    opacity: 0;
}